.pg-ctrl
{
	font:bold 16px verdana;
	color: #0063e3;
	text-decoration: none; 
	cursor: pointer;    
	padding:4px;
	margin:0px;
	border: 0px;
}
.pg-normal 
{
	font:10px verdana;
	color: #333;
	text-decoration: none; 
	cursor: pointer;    
	background-color:#f9f9f9;
	padding:3px 6px;
	margin:1px;
	border: 1px solid #0063e3;
}

.pg-selected 
{
	font:10px verdana;
	color: #fff;
	text-decoration: none;    
	cursor: pointer;
	background-color:#0063e3;
	padding:3px 6px;
	margin:1px;
	border: 1px solid #dde;
}